@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .messageCont {
    background: url(./assets/5eb625cb19e30ebb3330f4d375d2b830.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(28, 28, 28);
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #000;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(69, 68, 68);
  }
}
