@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* body {
    background: url(./assets/Podcast-Website-Design-Background-Image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(28, 28, 28);
  } */

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #000;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(69, 68, 68);
  }
}
